p {
    margin: 0;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding: 0;
    margin: 0;
}

h6 {
    padding: 0;
    margin: 0;
}

.header-main-container {
    width: 100%;
    background-color: transparent;
}

.header-inner-container {
    width: 90%;
    /* background-color: aqua; */
    height: auto;
    display: flex;
    position: relative;
}


.header-left-container {
    width: 75%;
    background: linear-gradient(106.43deg, #E0F5FA -1.4%, #FFFDE6 100.87%);
    height: 900px;
    border-bottom-right-radius: 200px;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    gap: 80px;
}

.header-menu-bar {
    width: 1021px;
    height: min-content;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.right-container {
    width: 25%;
    /* background-color: antiquewhite; */
    height: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.list-container {
    width: min-content;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding-right: 60px;
}

.list-container div {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.list-container div p {
    color: #02073E;
    /* font-family: FontAwesome; */
    font-size: 16px;
    line-height: 33px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Open Sans", serif;
    font-weight: 500;
}

.list-container div img {
    width: 13px;
    height: 13px;
}

.header-content-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 1005px;
    height: 600px;
    padding: 30px;
    justify-content: center;
    align-items: flex-start;
}

.header-content-inner-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.rating-container {
    display: flex;
    gap: 5px;
}

.rating-container p {
    color: #02073E;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "Open Sans", serif;
    font-weight: 400;
}

.frame-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: -10px;
}

.header-content-inner-container h1 {
    color: #02073E;
    /* font-family: FontAwesome; */
    font-size: 85px;
    line-height: 100px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 600;
    text-align: left;
}

.dec {
    color: #02073E;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 500;
    word-break: break-all;
    text-align: left;
}

.search-container {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 8px;
}

.search-container img {
    width: 20px;
    height: 20px;
}

.search-container p {
    color: #02073E;
    /* font-family: FontAwesome; */
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 300;
    text-align: left;
    opacity: 0.5;
}

.social-media-conatiner {
    display: flex;
    width: 100%;
    /* gap: 35px; */
    align-items: center;
    justify-content: space-between;
}

.social-media-conatiner p {
    color: #02073E;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 300;
    text-align: left;
    opacity: 0.8;
}

.video-main-conatiner {
    width: 575px;
    height: 600px;
    /* background-color: #02073E; */
    position: absolute;
    top: 15%;
    right: 5%;
    border-radius: 5px;
}

.video-container {
    z-index: 2;
    position: absolute;
}

.pattern-container {
    position: absolute;
    top: 0;
    right: -10%;
}

.video {
    width: 544px;
    height: 680px;
    /* background: black; */
    position: absolute;
    top: 0;
    border-radius: 5px;
}

.video iframe {
    border-radius: 5px;
}

.card-main-container {
    width: 70%;
    /* background-color: #02073E; */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.heading-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.heading-container p {
    color: #EF9E48;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 2.0999999046325684px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 500;
    text-align: left;
}

.heading-container h2 {
    color: #0F2137;
    font-size: 36px;
    line-height: 55px;
    letter-spacing: -1.5px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 700;
    text-align: center;
}

.card-list-container {
    /* display: flex; */
    gap: 25px;
}

.card {
    position: relative;
    /* To ensure the card content stays above the pseudo-element */
    flex-direction: column;
    width: 450px;
    z-index: 1;
}

.card-content {
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 10px;
    border: 1px solid #F3F4F5;
    background-color: #ffffff;
}

.card-content div {
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    align-items: center;
}

.card-content div p {
    color: #0F2137;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    font-family: "Heebo", serif;
    font-weight: 300;
}

.card-content h1 {
    color: #0F2137;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 500;
}

.card-content div h6 {
    color: #0F2137;
    font-size: 15px;
    line-height: 30px;
    text-align: left;
    font-family: "Heebo", serif;
    font-weight: 500;
    opacity: 0.7;
}

.slick-prev:before {
    color: #000000 !important;
}

.slick-next:before {
    color: #000000 !important;
}

/* Example CSS */
.slick-slider {
    height: auto !important;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardimg {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
}

.card-content {
    overflow: hidden;
}

.slick-slide>div {
    margin: 0 10px;

}

.core-main-conatiner {
    width: 100%;
    display: flex;
    gap: 30px;
}

.core-left-conatiner {
    width: 50%;
    height: 650px;
    background: linear-gradient(106.43deg, rgba(255, 253, 230, 0.35) -1.4%, rgba(255, 253, 230, 0.07) -1.39%, rgba(224, 239, 250, 0.35) 100.87%);
    border-top-right-radius: 600px;
    /* border-bottom-right-radius: 600px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    /* padding-right: 5px; */
}

.core-right-conatiner {
    width: 50%;
    height: 500px;
    /* background-color: #272018; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

.core-card {
    width: 300px;
    height: 280px;
    background-color: #ffffff;
    box-shadow: 0px 25px 100px 0px #45589D14;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.core-card h1 {
    color: #EF9E48;
    font-size: 72px;
    line-height: 55px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 700;
    text-align: center;
}

.core-inner-card {
    display: flex;
    gap: 45px;
}

.core-main-card {
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    overflow-y: scroll;
    width: 100%;
    padding-top: 50px;
    padding-right: 15px;
}

.core-main-card::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.core-btn-text {
    color: #EF9E48;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 600;
    text-align: center;
}

.core-btn {
    background: #FCF2E8;
    padding: 10px;
    width: max-content;
    border-radius: 5px;
}

.core-heading {
    color: #0F2137;
    font-size: 48px;
    line-height: 55px;
    letter-spacing: -1.5px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 700;
    text-align: left;
}

.core-main-heading {
    color: #EF9E48;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 2.0999999046325684px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 500;
    text-align: left;
}

.accordion-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding-bottom: 100px;
}

.accordion-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}

.question-inner-container {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    border-bottom: 1px solid #E5ECF4;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
}

.question-answer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-start;
    margin-top: -6px;
}

.question {
    color: #0F2137;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 600;
    text-align: left;
}

.answer {
    color: #0F2137;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    text-decoration-skip-ink: none;
    font-family: "DM Sans", serif;
    font-weight: 400;
    text-align: left;
}

.tutorial-main-conatiner {
    width: 100%;
    display: flex;
}

/* .tutorial-left-conatiner{
    width: 50%;
    background-image: url('../utils/images/Group.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    opacity: 0.3;
} */

.tutorial-left-conatiner {
    position: relative;
    /* Ensure proper positioning for the pseudo-element */
    width: 50%;
}

.tutorial-left-conatiner::before {
    content: "";
    /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../utils/images/Group.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3;
}

.tutorial-left-inner-conatiner {
    width: 50%;
    margin-left: 250px;
    margin-top: 30px;
}

.background-card {
    position: absolute;
    top: 13%;
    left: 22%;
    opacity: 0.8;
}